@import 'reset';

html, body {
    * {font-family: 'Mulish', sans-serif;}
}

.container {
    max-width: 1105px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.app {
    width: 100%;
    min-width: 320px;
    height: 100%;
    overflow: hidden;
    background: #F5FAFE;
}