.packagesummery_header {
    display: flex;
    align-items: center;

    background: #0A223D;
    border-radius: 4px 4px 0px 0px;

    .packagesummery_title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        padding: 0 0 0 24px;
    }
}